{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <h1>Administration</h1>
  <h2 class="mt-4">Inhalte</h2>
  <ul>
    {% for f,label in files %}
    <li><a href="{{ url_for('admin_manage', filename=f) }}">{{ label }}</a>
        (<a href="{{ url_for('admin_edit', filename=f) }}">RAW</a>)</li>
    {% endfor %}
  </ul>
  <h2 class="mt-4">Bild hochladen</h2>
  <form method="post" action="{{ url_for('admin_upload') }}" enctype="multipart/form-data" class="mt-2" style="max-width:400px;">
    <div class="mb-3">
      <input type="file" name="image" class="form-control" required>
    </div>
    <button class="btn btn-primary" type="submit">Hochladen</button>
  </form>
</div>
{% endblock %}
